<div class="task_header">
  <div class="team-header-content">
    <h1>参加中のチーム</h1>
    <%= link_to "新しいチームを作成", new_team_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="task_main">
  <div class="team-list">
    <% @teams.each do |team| %>
      <%= link_to team_path(team), class: "team-card-link" do %>
        <div class="team-card">
          <h3 class="team-name"><%= team.name %></h3>
          <p class="team-description"><%= truncate(team.description, length: 100) %></p>
          <div class="team-meta">
            <span>オーナー: <%= team.user.name %></span>
            <span>メンバー: <%= team.members.count %>人</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
