<div class="wrapper">

  <%# タスク表示部分 %>
  <div class="tasks">

    <%# task_header上部 %>
    <div class="task_header">
      <div class="task_projects">
        <a href="#">今日のタスク</a> 
      </div>
    </div>

    <%# task_main部分 %>
    <div class="task_main">
      <% @tasks.each do |task| %>
        <div class="task">
          <div class="task-name">
            タスク名：<%= task.task_name %>
          </div>
          <div class="deadline">
            期限：<%= task.deadline %>
          </div>
          <div class="priority">
            優先度：<%= task.priority.name %>
          </div>
          <div class="status">
            状態：<%= task.status.name %>
          </div>
          <div class="content">
            内容：<%= task.content %>
          </div>
        </div> 
      <% end %> 
    </div> 

    <%# task_footer部分 %>
    <div class="task_footer">
      
    </div>
  </div> <%# .tasks %>
</div> <%# .wrapper %>
